/*-------Global Styles-------*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background: #0b1120;
  color: white;
  overflow-x: hidden;
}

.container {
  width: 1100px;
  margin: 0 auto;
}

/*-------Blobs-------*/
.blob {
  position: absolute;
  border-radius: 50%;
  filter: blur(120px);
  opacity: 0.4;
  z-index: -1;
}

.blob1 {
  width: 400px;
  height: 400px;
  background: #ff6a00;
  top: 100px;
  left: -100px;
}

.blob2 {
  width: 500px;
  height: 500px;
  background: #7c3aed;
  top: 400px;
  right: -150px;
}

/*-------NavBar-------*/
.navbar {
  position: fixed;
  width: 100%;
  height: 80px;
  backdrop-filter: blur(15px);
  background: rgba(11, 17, 32, 0.6);
  display: flex;
  align-items: center;
  z-index: 1000;
}

.nav-content {
  width: 1100px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 22px;
  font-weight: 600;
}

.nav-links a {
  text-decoration: none;
  color: #94a3b8;
  margin-left: 20px;
  font-size: 15px;
  transition: 0.3s;
}

.nav-links a:hover {
  color: white;
}

.btn {
  background: linear-gradient(135deg, #ff6a00, #ff8c42);
  padding: 12px 24px;
  border-radius: 8px;
  text-decoration: none;
  color: white;
  font-size: 14px;
  transition: 0.3s;
}

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 15px 35px rgba(255, 106, 0, 0.4);
}
